.countries {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* **************** */
/* query */
/* **************** */
@media (max-width: 58em) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 44em) {
  .countries {
    gap: 1rem;
  }
}
@media (max-width: 40em) {
  .countries {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
